<%= form_for @flat, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :unique_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :unique_id, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :flat_size, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :flat_size, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description_longer, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description_longer, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location_address, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :location_address, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :poplatky, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :poplatky, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :image_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :detail_url, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :detail_url, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :podlazi, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :podlazi, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :first_seen_at, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :first_seen_at, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :updated_at, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :updated_at, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :available_from, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :available_from, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :balcony, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :balcony, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :terrace, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :terrace, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :area_m, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :area_m, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :elevator, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :elevator, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :furnished, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :furnished, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marked_as_crap_user1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :marked_as_crap_user1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :marked_as_crap_user2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :marked_as_crap_user2, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  flats_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
