<p id="notice"><%= notice %></p>

<p>
  <strong>Unique:</strong>
  <%= @flat.unique_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @flat.title %>
</p>

<p>
  <strong>Flat size:</strong>
  <%= @flat.flat_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<p>
  <strong>Description longer:</strong>
  <%= @flat.description_longer %>
</p>

<p>
  <strong>Location address:</strong>
  <%= @flat.location_address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @flat.price %>
</p>

<p>
  <strong>Poplatky:</strong>
  <%= @flat.poplatky %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @flat.image_url %>
</p>

<p>
  <strong>Detail url:</strong>
  <%= @flat.detail_url %>
</p>

<p>
  <strong>Podlazi:</strong>
  <%= @flat.podlazi %>
</p>

<p>
  <strong>First seen at:</strong>
  <%= @flat.first_seen_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @flat.updated_at %>
</p>

<p>
  <strong>Available from:</strong>
  <%= @flat.available_from %>
</p>

<p>
  <strong>Balcony:</strong>
  <%= @flat.balcony %>
</p>

<p>
  <strong>Terrace:</strong>
  <%= @flat.terrace %>
</p>

<p>
  <strong>Area m:</strong>
  <%= @flat.area_m %>
</p>

<p>
  <strong>Elevator:</strong>
  <%= @flat.elevator %>
</p>

<p>
  <strong>Furnished:</strong>
  <%= @flat.furnished %>
</p>

<p>
  <strong>Marked as crap user1:</strong>
  <%= @flat.marked_as_crap_user1 %>
</p>

<p>
  <strong>Marked as crap user2:</strong>
  <%= @flat.marked_as_crap_user2 %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
